# GoDaddy API
GODADDY_API_KEY=your_key_here
GODADDY_API_SECRET=your_secret_here
# GODADDY_API_URL=https://api.ote-godaddy.com # Test environment (OTE)
# GODADDY_API_URL=https://api.godaddy.com # Production environment

# Gemini API
GEMINI_API_KEY=your_key_here